@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Paragrafo</p>
</div>

<div class="text-center">
    <button type="button" class="btn btn-primary">Azul</button>
    <button type="button" class="btn btn-outline-success">Verde</button>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-danger" type="button">Vermelho</button>
</div>

<div class="text-center">
    <h2 class ="display-5">titulo2</h2>
    <p>Paragrafo</p>
</div>