@{
    ViewData["Title"] = "Professor";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Otto</td>
            <td>000.000.000-00</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2</td>
            <td>Thornton</td>
            <td>000.000.000-00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>3</td>
            <td>Larry Bird</td>
            <td>000.000.000-00</td>
        </tr>
    </tbody>
</table>