@{
    ViewData["Title"] = "Login";
}
@{
    Layout = "_LayoutLogin";
}

@model Usuario

<form asp-controller="Login" asp-action="Buscar" method="get">
    <input type="hidden" asp-for="Id" />    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Usuário</label>
        <input type="email" asp-for="Email" class="form-control" id="inputEmail4" >
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="inputPassword4">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-outline-dark mt-3">Entrar</button>
    </div>
</form>